<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    
	    <title>{{ id }}</title>
	</head>

<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Taichi Videos</a>
	    </div>
	    <div>
	      <ul class="nav navbar-nav">
	        <li id="14"><a href="/video/14">14</a></li>
	        <li id="01"><a href="/video/01">01</a></li>
	        <li id="02"><a href="/video/02">02</a></li>
	        <li id="03"><a href="/video/03">03</a></li>
	        <li id="04"><a href="/video/04">04</a></li>
	        <li id="05"><a href="/video/05">05</a></li>
	        <li id="06"><a href="/video/06">06</a></li>
	        <li id="07"><a href="/video/07">07</a></li>
	        <li id="08"><a href="/video/08">08</a></li>
	        <li id="09"><a href="/video/09">09</a></li>
	        <li id="10"><a href="/video/10">10</a></li>
	        <li id="11"><a href="/video/11">11</a></li>
	        <li id="12"><a href="/video/12">12</a></li>
	        <li id="13"><a href="/video/13">13</a></li>
	        <li id="15"><a href="/video/15">15</a></li>
	      </ul>
	    </div>
	    <ul class = "navbar-nav pull-right">
	    	<button type = "button" class = "btn btn-default" onclick="window.location.href = '/login';">Login</button>
	    </ul>
	  </div>
	</nav>
		<div class = "container" >{{desc}}
				<div class = "video-container">
					<iframe src={{src}} width="500" height="282" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/119411037">{{title}}</a> from <a href="https://vimeo.com/user1057931">Dav Clark</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
				</div>
				
				<button type = "button" class="btn btn-default">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</button>
				<button type = "button" class="btn btn-default">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</button>
		</div>
		
	
	
</body>

</html>
